#DJANGO
Django
djangorestframework
psycopg2-binary

#HuggingFace
transformers
huggingface_hub
langchain
langchain-huggingface
langchain-community

#LLM_Dependencies

#PyTorch
torch
torchvision
torchaudio

#ProjectManagerLLM
accelerate
sentencepiece
# onnxruntime  # Optional — Di pa supported sa Python 3.13 (Naka 3.13 ako eh)

#Donut
donut-python
pytorch-lightning==1.6.4
timm==0.5.4
pillow